@{
    ViewBag.Title = "Home Page";
}

<main>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>If it doesn't challenge you , It doesn't change you.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">Fred Davido</cite>
        </figcaption>
    </figure>


    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Manage Workouts</h5>
                    <p class="card-text">Add, edit, and view workouts for clients.</p>
                    <a href="~/Workout/List" class="btn btn-outline-info">Go to Workouts</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Add, edit, and view user profiles and details.</p>
                    <a href="~/Users/List" class="btn btn-outline-info">Go to Users</a>
                </div>
            </div>
        </div>
    </div>
</main>