@{
    ViewBag.Title = "Home Page";
}

<main>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>If it doesn't challenge you , It doesn't change you.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">Fred Davido</cite>
        </figcaption>
    </figure>

    <div class="container">
        <div class="row">
            <a href="~/Workout/list">Workouts</a>
        </div>
        <div class="row">
            <a href="~/Users/list">Users</a>
        </div>

    </div>
</main>