@model MyFitnessTracker.Models.WorkoutDTO
@{
    ViewBag.Title = "DeleteConfirm";
}


<h2>Are you sure you want to delete this Workout?</h2>

<form action="/Workout/Delete/@Model.WorkoutID" method="POST">
    <a href="/Workout/List">Cancel</a>
    <input type="submit" value="Confirm Delete" />
</form>

<h2>@Model.UserName</h2>
<div>Date: @Model.WorkoutDate </div>
<div>Exercise: @Model.ExerciseName </div>
<div>Type: @Model.SubExerciseName </div>
