
<script src="~/Scripts/scripts.js"></script>
@{
    ViewBag.Title = "Create";
}


<h2>Create Workout</h2>
<form action="/Workout/Create" method="POST">
    <div class="mb-3" >
        <label class="form-label">UserId:</label> <input class="form-control" type="text" name="UserId" />
    </div>
    <div class="mb-3">
        <label class="form-label"> WorkoutDate</label> <input class="form-control" type="date" name="WorkoutDate" />
    </div>
    <div class="mb-3">
        <label class="form-label">Duration</label> <input class="form-control" type="number" name="Duration" />
    </div>
    <div class="mb-3">
        <label   for="exerciseDropdown">Select Exercise:</label>
        <select class="form-select" id="exerciseDropdown" name="ExerciseID" onchange="updateSubExerciseDropdown()">
            <option value="-1">-- Select Exercise --</option>
        </select>
    </div >
    <div class="mb-3">
        <label  for="subExerciseDropdown">Select Sub-Exercise:</label>

        <select class="form-select" id="subExerciseDropdown" name="SubExerciseID">
            <option value="-1">-- Select Sub-Exercise --</option>
        </selectclass="form-select">
    </div>

    <div class="mb-3">
        <label class="form-label">Weight</label> <input class="form-control" type="number" name="Weight" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Reps</label> <input class="form-control" type="number" name="Reps" />
    </div>
    <div class="mb-3">
        <label class="form-label">Notes</label> <input class="form-control" type="text" name="Notes" />
    </div>

    <divclass="mb-3">
        <input type="submit"class="btn btn-primary" value="Add Workout" />

    </div>
</form>

