
<script src="~/Scripts/scripts.js"></script>
@{
    ViewBag.Title = "Create";
}


<h2>Create Workout</h2>
<form action="/Workout/Create" method="POST">
    <div>
        <label>UserId:</label> <input type="text" name="UserId" />
    </div>
    <div>
        <label> WorkoutDate</label> <input type="datetime" name="WorkoutDate" />
    </div>
    <div>
        <label>Duration</label> <input type="number" name="Duration" />
    </div>
    <div>
        <label for="exerciseDropdown">Select Exercise:</label>
        <select id="exerciseDropdown" name="ExerciseID" onchange="updateSubExerciseDropdown()">
            <option value="-1">-- Select Exercise --</option>
        </select>
    </div>
    <div>
        <label for="subExerciseDropdown">Select Sub-Exercise:</label>

        <select id="subExerciseDropdown" name="SubExerciseID">
            <option value="-1">-- Select Sub-Exercise --</option>
        </select>
    </div>

    <div>
        <label>Weight</label> <input type="number" name="Weight" />
    </div>
    <div>
        <label>Reps</label> <input type="number" name="Reps" />
    </div>
    <div>
        <label>Notes</label> <input type="text" name="Notes" />
    </div>

    <div>
        <input type="submit" value="Add Workout" />

    </div>
</form>

